Code/*
dconf/*
discord/*
fish/*
google-chrome-dev/*
gtk-3.0/*
kate/*
KDE/*
lde.org/*
Kvantun/*
lutris/*
menus/*
microsoft-edge-dev/*
mpv/*
neofetch/*
nwg-look/*
pulse/*
qt5ct/*
qt6ct/*
session/*
systemd/*
Thunar/*
xfce4/*
xsettingsd/*
yay/*
kde.org/UserFeedback.org.kde.dolphin.conf
kde.org/UserFeedback.org.kde.kate.conf
Kvantum/kvantum.kvconfig
Kvantum/Default#/Default#.kvconfig
Kvantum/Dracula-Solid/Dracula-Solid.kvconfig
Kvantum/Dracula-Solid/Dracula-Solid.svg
arkrc
dolphinrc
katemetainfos
katerc
katevirc
kconf_updaterc
kdeglobals
khotkeysrc
konsolerc
pavucontrol.ini
QtProject.conf
trashrc
xdg-desktop-portal-kderc
